
<% include partials/header.ejs %>
<div class="starter-template">
    <h1>Gere tabuada do 1 ao 100</h1>
    <p class="lead">Use os links disponíveis na aba Tabuadas.</p>
  </div>

<% include partials/footer.ejs %>

